@import '../../style/index.scss';
.v-row {
  display: flex;
  $justifyArr: center space-between space-around start end;
  @each $item in $justifyArr {
    &.justify-#{$item} {
      justify-content: $item;
    }
  }
}
