.v-row {
  display: flex;
  $justifyArr: center space-between space-around start end;
  @each $item in $justifyArr {
    &.justify-#{$item} {
      justify-content: $item;
    }
  }

  $alignArr: center flex-start flex-end;
  @each $item in $alignArr {
    &.align-#{$item} {
      align-items: $item;
    }
  }
}
