.v-table {
  .v-table-wrap {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $color-text-placeholder;
    th {
      text-align: left;
    }
    th,
    td {
      padding: 8px;
      border-bottom: 1px solid $color-text-placeholder;
    }
    tbody {
      tr {
        &:nth-of-type(2n + 1) {
          background: lighten($color-text-placeholder, 20);
        }
        &:hover {
          background: lighten($color-primary, 60);
        }
      }
    }
    .v-table-header-cell {
      @include flex-alignc;
      .sort-icon {
        margin-left: 6px;
        cursor: pointer;
      }
      .v-icon {
        display: block;
        fill: $color-text-placeholder;
        &.active {
          fill: $color-text-regular;
        }
      }
      .v-icon-caret-bottom {
        margin-top: -7px;
      }
    }
  }
}
